

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  align-self: center;
  margin-top: 30px;
}

.close-button {
  align-self: flex-end;
}

.input-container {
  align-self: center;
  margin-bottom: 30px;
}

#chat-container {
  overflow-y:auto;
  max-height:none;
  flex-grow :1 ;
}

.close-button {
position: absolute;
top: 10px;
right: 10px;
}

.chat-message {
  height: 300px;
  overflow-y: auto;
}
