.post-create-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: stretch;
    justify-content: center;
    height: 80vh; /* 뷰포트 높이의 80%로 설정 */
    width: 80%; /* 너비를 80%로 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    font-size: 18px; /* 원하는 크기로 설정 */
    font-weight: bold; /* 두께 설정 */
}

.post-form {
    display: flex;
    flex-direction: column;
}

.input-field:focus {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #0056b3; 
    min-height: auto;
    width: 100%; /* 넓이를 100%로 설정 */
    box-sizing: border-box; /* padding과 border도 요소의 전체 너비에 포함 */
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.spacer {
    margin: 0 10px; /* 원하는 간격 크기를 조정 */
}