.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}


.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .post-card {
    width: calc(25% - 1em);
    margin-bottom: 2em;

  }
  
  .post-image {
    width: 100%;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
      .post-card {
        width: calc(50% - .5em);
      }
  }


  .a {
    width: 300px;
}


  