.articleRow {
    cursor: pointer;
}

.img_item {
  width: 180px;
  height: 120px;
  background-size: 180px auto;
  background-repeat: no-repeat;
}

.table_content {
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: normal;
}

.when_post {
  text-align: center;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}