.b {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 24px;
  }
  .link {
    position: absolute;
    top: calc(50% - 13px);
    left: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 3.029998779296875px var(--padding-12xs)
      var(--padding-0);
    align-items: center;
    justify-content: flex-start;
  }
  .vectorIcon {
    position: relative;
    width: 6.69px;
    height: 10.13px;
  }
  .icon,
  .pseudo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .icon {
    width: 11.7px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0.9375px 5.008593559265137px 0.9375px var(--padding-0);
    box-sizing: border-box;
  }
  .pseudo {
    position: absolute;
    top: 6px;
    left: 63.03px;
  }
  .divcssJ2at52,
  .linkmargin {
    position: absolute;
    left: 0;
    font-size: var(--font-size-base);
  }
  .divcssJ2at52 {
    width: 100%;
    top: 0;
    right: 0;
    height: 24px;
  }
  .linkmargin {
    top: calc(50% - 11px);
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 7.9199981689453125px var(--padding-12xs)
      var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 20px;
  }
  .time {
    top: calc(50% - 10px);
    left: 87.92px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 1.6699981689453125px var(--padding-0)
      var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div1,
  .time,
  .time1 {
    position: absolute;
  }
  .div1 {
    top: 2px;
    left: 123.59px;
    font-size: var(--font-size-xs);
    letter-spacing: -0.3px;
    line-height: 16px;
  }
  .time1 {
    top: calc(50% - 10px);
    left: 130.83px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divcss12s9gc6 {
    position: absolute;
    width: 100%;
    top: 44px;
    right: 0;
    left: 0;
    height: 20px;
  }
  .p {
    margin: 0;
  }
  .pcss1d4v77o {
    position: absolute;
    width: 100%;
    top: 72px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-mid-5) var(--padding-0)
      var(--padding-0);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-2xs);
  }
  .div4 {
    position: relative;
    line-height: 20px;
  }
  .button {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-gainsboro-100);
    height: 32px;
    flex-direction: row;
    padding: var(--padding-7xs) 8.970001220703125px var(--padding-7xs)
      var(--padding-4xs);
    align-items: center;
    justify-content: center;
  }
  .button,
  .divcss4ja1w6,
  .link1 {
    display: flex;
    box-sizing: border-box;
  }
  .link1 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-gainsboro-100);
    height: 32px;
    flex-direction: row;
    padding: var(--padding-7xs) 9.220001220703125px var(--padding-7xs)
      var(--padding-4xs);
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-smi);
  }
  .divcss4ja1w6 {
    position: absolute;
    width: 100%;
    top: 144px;
    right: 0;
    left: 0;
    flex-direction: column;
    padding: var(--padding-0) 65.52999877929688px var(--padding-0)
      var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    text-align: center;
  }
  .divcss17otnxb,
  .divcssL44mlo {
    position: relative;
    width: 253.5px;
    height: 220px;
  }
  .divcssL44mlo {
    background-color: var(--color-whitesmoke-300);
    width: 1px;
  }
  .div6 {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 16px;
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link2,
  .link3,
  .link4,
  .link5,
  .link6,
  .link7,
  .link8,
  .link9 {
    position: absolute;
    height: calc(100% - 204px);
    width: calc(100% - 131.75px);
    top: 0;
    right: 131.75px;
    bottom: 204px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 81.75px var(--padding-0) var(--padding-0);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link3,
  .link4,
  .link5,
  .link6,
  .link7,
  .link8,
  .link9 {
    top: 36px;
    bottom: 168px;
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link4,
  .link5,
  .link6,
  .link7,
  .link8,
  .link9 {
    top: 72px;
    bottom: 132px;
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link5,
  .link6,
  .link7,
  .link8,
  .link9 {
    top: 108px;
    bottom: 96px;
    padding: var(--padding-0) 39.75px var(--padding-0) var(--padding-0);
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link6,
  .link7,
  .link8,
  .link9 {
    top: 144px;
    bottom: 60px;
    padding: var(--padding-0) 81.75px var(--padding-0) var(--padding-0);
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link7,
  .link8,
  .link9 {
    top: 180px;
    bottom: 24px;
    padding: var(--padding-0) 61.75px var(--padding-0) var(--padding-0);
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link8,
  .link9 {
    top: 0;
    right: 0;
    bottom: 204px;
    left: 131.75px;
    padding: var(--padding-0) 81.75px var(--padding-0) var(--padding-0);
  }
  .link10,
  .link11,
  .link12,
  .link13,
  .link9 {
    top: 36px;
    bottom: 168px;
    padding: var(--padding-0) 55.75px var(--padding-0) var(--padding-0);
  }
  .link10,
  .link11,
  .link12,
  .link13 {
    top: 72px;
    bottom: 132px;
    padding: var(--padding-0) 47.75px var(--padding-0) var(--padding-0);
  }
  .link11,
  .link12,
  .link13 {
    top: 108px;
    bottom: 96px;
    padding: var(--padding-0) 49.75px var(--padding-0) var(--padding-0);
  }
  .link12,
  .link13 {
    top: 144px;
    bottom: 60px;
    padding: var(--padding-0) 59.75px var(--padding-0) var(--padding-0);
  }
  .link13 {
    top: 180px;
    bottom: 24px;
    padding: var(--padding-0) 69.75px var(--padding-0) var(--padding-0);
  }
  .divcss1mdyhm1 {
    position: relative;
    width: 253.5px;
    height: 220px;
    font-size: var(--font-size-2xs);
  }
  .div17,
  .div18 {
    position: absolute;
    top: 0;
    left: 11.38px;
    letter-spacing: -0.3px;
    line-height: 20px;
  }
  .div18 {
    left: 93.45px;
    font-size: var(--font-size-xs);
  }
  .div19 {
    left: 100.83px;
  }
  .address,
  .div19,
  .div20 {
    position: absolute;
    top: 0;
    letter-spacing: -0.3px;
    line-height: 20px;
  }
  .div20 {
    left: 178.05px;
    font-size: var(--font-size-xs);
  }
  .address {
    left: 185.42px;
  }
  .linkContactbucketplacenet {
    position: absolute;
    left: 11.38px;
  }
  .div21,
  .div22,
  .linkContactbucketplacenet {
    top: 20px;
    letter-spacing: -0.3px;
    line-height: 20px;
  }
  .div21 {
    position: absolute;
    left: 145.94px;
    font-size: var(--font-size-xs);
  }
  .div22 {
    left: 153.31px;
  }
  .div22,
  .div23,
  .link14 {
    position: absolute;
  }
  .link14 {
    top: 20px;
    left: 299.97px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 0.5000033378601074px var(--padding-0)
      2.4800000190734863px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div23 {
    top: 40px;
    left: 11.38px;
    letter-spacing: -0.3px;
    line-height: 20px;
  }
  .divcss1dg1yub {
    position: absolute;
    width: calc(100% + 9px);
    top: 0;
    right: 0;
    left: -9px;
    height: 60px;
  }
  .divcss15bx5k {
    align-self: stretch;
    position: relative;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: var(--font-size-2xs);
  }
  .f5b2c2e98ea1196pngIcon {
    position: relative;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .divcssLkbpts,
  .divcssZqatfe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .divcssLkbpts {
    padding: var(--padding-0) 5.44000244140625px var(--padding-0) var(--padding-0);
    align-items: flex-start;
  }
  .divcssZqatfe {
    width: 153.44px;
    align-items: center;
    gap: var(--gap-7xs);
  }
  .div25,
  .link15 {
    position: absolute;
  }
  .div25 {
    top: 0;
    left: 0;
    letter-spacing: -0.3px;
    line-height: 14px;
  }
  .link15 {
    top: 14px;
    left: 106.78px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 2.1000006198883057px var(--padding-0)
      2.009999990463257px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divcssLkbpts1 {
    position: relative;
    width: 299.56px;
    height: 28px;
  }
  .div26,
  .divcssA3rlk8,
  .divcssZqatfe1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .divcssZqatfe1 {
    width: 337.56px;
    align-items: center;
    gap: var(--gap-7xs);
    font-size: var(--font-size-4xs);
  }
  .div26,
  .divcssA3rlk8 {
    align-self: stretch;
    align-items: flex-start;
  }
  .divcssA3rlk8 {
    gap: var(--gap-base);
    font-size: var(--font-size-3xs);
  }
  .div26 {
    padding: var(--padding-0) var(--padding-19xl) var(--padding-0)
      var(--padding-0);
  }
  .linkYoutubeSv {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .div28 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-312xl) var(--padding-0)
      var(--padding-0);
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-sm);
  }
  .copyright2014Bucketplace {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 14px;
  }
  .p9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-271xl) var(--padding-0)
      var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divcss1cp1m6s,
  .dive1l1p3425,
  .footer {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
  }
  .divcss1cp1m6s {
    width: 507px;
    flex-direction: column;
    padding: var(--padding-0) var(--padding-0) var(--padding-sm);
    justify-content: flex-start;
    gap: var(--gap-xs);
    font-size: var(--font-size-4xs);
    color: var(--color-lightslategray);
  }
  .dive1l1p3425,
  .footer {
    flex-direction: row;
  }
  .dive1l1p3425 {
    width: 1256px;
    padding: var(--padding-0) var(--padding-41xl);
    justify-content: flex-start;
    gap: var(--gap-11xl);
    max-width: 1256px;
  }
  .footer {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    background-color: var(--color-whitesmoke-100);
    padding: var(--padding-21xl) var(--padding-313xl);
    justify-content: center;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-200);
    font-family: var(--font-noto-sans-kr);
  }
  