.linkSvg {
    position: relative;
    width: 74px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}
.linkHover {
    color: var(--color-deepskyblue-100);
}
.link,
.link1,
.link2 {
    position: absolute;
    top: 20px;
    letter-spacing: -0.3px;
    line-height: 18px;
}
.link {
    left: 20px;
}
.link1,
.link2 {
    left: 111.03px;
}
.link2 {
    left: 171.55px;
}
.divcss1h0hlgo {
    flex: 1;
    position: relative;
    height: 54px;
}
.div {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 18px;
}
.link3 {
    padding: var(--padding-0) 9.40999984741211px var(--padding-0)
    var(--padding-3xs);
}
.divcss1kpxvh4,
.link3,
.link4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.link4 {
    border-left: 1px solid var(--color-whitesmoke-300);
    padding: var(--padding-0) 10.199996948242188px var(--padding-0)
    var(--padding-2xs);
}
.divcss1kpxvh4 {
    padding: var(--padding-0) 0.01000213623046875px var(--padding-0)
    var(--padding-0);
}
.div3 {
    position: relative;
    line-height: 18px;
}
.spancssCdruys {
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 0.3100013732910156px var(--padding-0)
    var(--padding-0);
    align-items: flex-start;
    justify-content: center;
}
.vectorIcon {
    position: relative;
    width: 13.85px;
    height: 7.84px;
}
.icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 5.080078125px 4.1484375px 5.080078125px var(--padding-0);
    box-sizing: border-box;
}
.icon,
.pseudo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.button,
.divcss1f624s9 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button {
    border-radius: var(--br-9xs);
    background-color: var(--color-deepskyblue-100);
    height: 40px;
    overflow: hidden;
    padding: var(--padding-2xs) 15.999996185302734px var(--padding-2xs)
    var(--padding-base);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-7xs);
    text-align: center;
    color: var(--color-white);
}
.divcss1f624s9 {
    position: absolute;
    top: calc(50% - 20px);
    right: -0.01px;
    padding: var(--padding-0) 0.010009765625px var(--padding-0) var(--padding-5xs);
    justify-content: flex-start;
    gap: 9.99px;
}
.vectorIcon1 {
    position: relative;
    width: 19.44px;
    height: 20.01px;
}
.icon1,
.spanSearch24 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.icon1 {
    width: 23.7px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 2.4972522258758545px 4.256721496582031px 2.4972527027130127px
    1.2207031829802872e-7px;
    box-sizing: border-box;
}
.spanSearch24 {
    position: absolute;
    top: calc(50% - 13px);
    left: 15px;
    padding: var(--padding-0) var(--padding-7xs) var(--padding-0) var(--padding-0);
}
.div4 {
    position: relative;
}
.divplaceholder {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) 174.47000122070312px var(--padding-0)
    var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
}
.combobox,
.input {
    position: absolute;
    box-sizing: border-box;
}
.input {
    width: calc(100% - 59.7px);
    top: calc(50% - 19px);
    right: 15px;
    left: 44.7px;
    height: 38px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-4xs-5) var(--padding-7xs) var(--padding-5xs-5)
    var(--padding-0);
    align-items: flex-start;
    justify-content: flex-start;
}
.combobox {
    height: calc(100% - 14px);
    width: calc(100% - 353.83px);
    top: 7px;
    right: 353.83px;
    bottom: 7px;
    left: 0;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-gainsboro-100);
    font-size: var(--font-size-mini);
    color: var(--color-silver);
}
.vectorIcon2 {
    position: relative;
    width: 22.36px;
    height: 21.5px;
}
.icon2,
.link6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.icon2 {
    width: 23.7px;
    height: 25px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 1.7476317882537842px 1.3375834226608276px 1.7476322650909424px
    1.2207031829802872e-7px;
    box-sizing: border-box;
}
.link6 {
    position: absolute;
    top: calc(50% - 18px);
    right: 303.13px;
    padding: var(--padding-8xs) var(--padding-7xs) var(--padding-7xs);
}
.divcss10vibjk {
    position: relative;
    width: 650px;
    height: 54px;
    font-size: var(--font-size-smi);
}
.divcss1pttzzz,
.divcssI7a8i3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.divcss1pttzzz {
    width: 1256px;
    height: 80px;
    padding: var(--padding-smi) var(--padding-41xl);
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
}
.divcssI7a8i3 {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-whitesmoke-300);
    width: 1920px;
    padding: var(--padding-0) var(--padding-313xl) var(--padding-12xs);
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkslategray-200);
    font-family: var(--font-noto-sans-kr);
}