.divcustomNewSelectWrap {
    position: absolute;
    top: 16px;
    left: 0;
    width: 87px;
  }
  .div1 {
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  .divcustomNewSelectWrap1,
  .options {
    width: 87px;
    display: flex;
    flex-direction: row;
  }
  .options {
    background-color: var(--color-deepskyblue);
    border: 1px solid var(--color-deepskyblue);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .divcustomNewSelectWrap1 {
    position: absolute;
    top: 16px;
    left: 689px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divlistUtilArea {
    position: relative;
    width: 776px;
    height: 93px;
  }
  .divcss14td677margin {
    position: absolute;
    width: 100%;
    top: 159px;
    right: 0;
    left: 0;
    height: 2046px;
    display: flex;
    flex-direction: column;
    padding: 3var (--padding-0) var(--padding-0) 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2583px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  