.div {
    position: absolute;
    top: 8px;
    left: calc(50% - 3.5px);
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2px;
    height: 14px;
  }
  .itemLink {
    position: relative;
    background-color: var(--color-white);
    width: 23px;
    height: 27px;
  }
  .link2 {
    position: absolute;
    top: 8px;
    left: calc(50% - 3px);
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2px;
    height: 14px;
  }
  .item {
    position: relative;
    border-left: 1px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 24px;
    height: 27px;
  }
  .link,
  .list {
    position: absolute;
  }
  .list {
    top: 0;
    left: calc(50% - 128.72px);
    border: 1px solid var(--color-dimgray);
    display: flex;
    flex-direction: row;
    padding: var(--padding-12xs);
    align-items: flex-start;
    justify-content: center;
  }
  .link {
    top: 9px;
    left: calc(50% + 96.28px);
  }
  .divfloatCenter {
    position: absolute;
    width: 100%;
    top: 16px;
    right: 0;
    left: 0;
    height: 29px;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-dimgray);
    font-family: var(--font-inter);
  }
  