.articleContainer {
  display: flex;
  align-items: center;
  margin: 10px 20%;
  justify-content: space-between;
}

.image {
  width: 180px;
  height: 120px;
  background-size: cover;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.title {
  height: 50px;
  margin-top: 10px;
}

.content {
  height: 50px;
  margin-bottom: 10px;
}

.date {
  width: 10%;
}
