.articleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image {
  border: white 1px solid;
  width: 384px;
  height: 216px;
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
}

.textContainer {
  width: 80%;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 27px;
  height: 54px;
  margin-bottom: 10px;
}

.content {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  height: 54px;
  margin-top: 10px;
}

.date {
  font-size: 16px;
  width: 10%;
}

.delButton{
  width: 10%;
}
