.base {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page_title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.articleTable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newsListContainer {
  margin: 0 30%; /* 좌우 20%의 마진 */
}