.cartOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
  }


  .cartItems {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
  }
  
  .imageContainer {
    margin: 0 2%;
  }

  .repImg {
    height: 180px;
    width: 180px;
    border-radius: 25px;
    border: 1px white solid;
  }

  .infoContainer {
    display: flex;
    position: absolute;
    right: 0;
  }

  .productDetail {
    width: 50%;
  }
  
  .productName {
    font-size: 21px;
    display: block;
    flex: 1;
  }
  
  .price {
    text-align: right;
    color: #888;
    flex: 1;
  }
  
  .itemTotalPrice {
    color: #888;
    flex: 1;
    padding-left: 40px;
    width: 120px;
  }
  .deleteBtn {
   margin-left: 40px;
  }
  
.quantity {
    height: 30px;
    width: 50px;
  }
  
  
  .checkBox {
    margin:10px;
  }

  .bottomWrap {
    display: flex;
    justify-content: space-between; /* 좌우 정렬 간격을 최대한 확보 */
    align-items: center; /* 세로 가운데 정렬 */
  }
  
