/* ProductList.module.css */

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
  
  .pageTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .productItem {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .sort {
    display: flex;
    justify-content: flex-end;

  }

  .sortButton {
    padding: 5px 5px;
    color: #949494;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* 아이템들 사이에 공간을 균등하게 배분 */
  }  
  
  .post-list a {
    color: black; /* 상위 요소와 동일한 색상 사용 */
    text-decoration: none; /* 밑줄 제거 */
  }
  