.contentWrap {
    margin-left: 250px;
    margin-right: 250px;
}

@media (max-width: 800px) {
    .contentWrap {
        margin-left: 10%; /* 똑같은 비율로 줄어들게 조정 */
        margin-right: 10%; /* 똑같은 비율로 줄어들게 조정 */
    }
}

.productContainer {
    display: flex;
    margin-top: 100px;
}

.detailContainer {
    margin-top: 30px;
    margin-bottom: 50px;
}

.imgContainer{
    padding-right: 60px; 
    padding-bottom: 100px;
}

.reviewContainer {
    padding-bottom: 100px;

}

.categoryLink {
    color:#757575;
    text-decoration:none;
}

.repImg {
    width: 480px; /* 기본 크기 */
    height: 480px; /* 기본 크기 */
  }
  
  /* 미디어 쿼리 */
  @media (max-width: 768px) {
    .repImg {
      width: 100%; /* 뷰포트 크기에 맞추어 가로 폭을 100%로 조절 */
      height: auto; /* 높이 자동 조절 */
    }
  }

  .detailImg {
    max-width: 100%;
    height: auto; /* 높이를 자동으로 조절하여 원본 가로세로비율을 유지 */
  }

    /* 미디어 쿼리 */
    @media (max-width: 768px) {
        .detailImg {
          width: 100%; /* 뷰포트 크기에 맞추어 가로 폭을 100%로 조절 */
          height: auto; /* 높이 자동 조절 */
        }
      }


.prodName {
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 10px;

  }

  .priceName {
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    margin-top: 20px;
  }

  ul {
    list-style: none;
  }

  .name {
    font-weight: 600;
  }

  .date {
    color:#757575;
  }

  .cartBtn{
    margin: 5px;
    background-color: white;
    height:56px;
    width: 224px;
    border-radius: 5px;
    border: solid 1px gray;

  }

  .buyBtn{
    margin: 5px;
    background-color: rgb(53, 197, 240);
    color: white;
    height: 56px;
    width: 224px;
    border-radius: 5px;
    border: solid 1px rgb(53, 197, 240);
  }

  .cartBuy{
    margin-top: 50px;
    
  }

  .quantity {
    margin-top: 150px;
    display: flex;
    align-items: center
  }

  .quantityBtn {
    font-size: 30px;
  }

  .quantityNum {
    text-align: center;
  }

  .sameSizeElements {
    display: inline-block; /* 요소를 인라인 블록으로 배치 */
    width: 50px; /* 원하는 크기 설정 */
    height: 50px; /* 원하는 크기 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 크기에 영향을 미치지 않도록 설정 */
    margin: 0; /* 마진 초기화 */
    padding: 0; /* 패딩 초기화 */
  }

  .totalPrice {
    margin-left: 200px;
    font-size: 20px;
    font-weight: 500;
  }