.container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.productList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productItem {
  margin-bottom: 1rem;
  flex: 0 0 240px;
  margin-right: 1rem;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.productImage {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.productName {
  margin: 0;
  font-size: 0.9rem;
  color: #000;
  text-align: left;
  flex: 1;
}

.productPrice {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
  text-align: right;
  flex: 1;
}
