.pagination{
    text-align: center;
}

.pagination button{
    width: 3vh;
    height: 3vh;
    border: none;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30%;
}

.pagination button:hover {
    background-color: #adc9ff;
}

.currentPageButton{
    background-color: #adc9ff;
}