.pagination{
    text-align: center;
}

.pagination button{
    width: 32px;
    height: 32px;
    border: none;
    margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30%;
    text-align: center;
}

/* .currentPagenation{
    font-weight: bold;
} */

.pagination button:hover {
    background-color: #adc9ff;
}

.currentPageButton{
    background-color: #adc9ff;
}