.b {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.3px;
    line-height: 20px;
    z-index: 0;
  }
  .pseudo {
    position: absolute;
    margin: 0 !important;
    width: 100%;
    top: 48px;
    right: 0;
    left: 0;
    background-color: var(--color-deepskyblue-100);
    height: 2px;
    z-index: 1;
  }
  .link,
  .spancss1ecsbekmargin {
    display: flex;
    align-items: flex-start;
  }
  .link {
    flex-direction: column;
    padding: var(--padding-sm) 5.530000686645508px var(--padding-base)
      var(--padding-8xs);
    justify-content: center;
    position: relative;
  }
  .spancss1ecsbekmargin {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-0) 4.999998092651367px var(--padding-0)
      var(--padding-8xs);
    justify-content: flex-start;
    font-size: var(--font-size-base);
    color: var(--color-deepskyblue-100);
  }
  .spancss1ecsbekmargin1,
  .spancss1ecsbekmargin2,
  .spancss1ecsbekmargin4,
  .spancss1ecsbekmargin7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: var(--padding-sm) 12.060001373291var (--padding-base)
      var(--padding-base) var(--padding-2xs);
    align-items: flex-start;
    justify-content: center;
  }
  .spancss1ecsbekmargin2,
  .spancss1ecsbekmargin4,
  .spancss1ecsbekmargin7 {
    padding: var(--padding-sm) 11.59000015258789px var(--padding-base)
      var(--padding-xs);
  }
  .spancss1ecsbekmargin4,
  .spancss1ecsbekmargin7 {
    padding: var(--padding-sm) 10.129997253417969px var(--padding-base)
      var(--padding-2xs);
    font-size: var(--font-size-mini);
  }
  .spancss1ecsbekmargin7 {
    padding: var(--padding-sm) 11.639999389648438px var(--padding-base)
      var(--padding-3xs);
  }
  .link3d {
    position: relative;
    letter-spacing: -0.3px;
    line-height: 20px;
    font-weight: 500;
  }
  .divcss17fh4sh,
  .nav,
  .spancss1ecsbekmargin13 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .spancss1ecsbekmargin13 {
    align-self: stretch;
    padding: var(--padding-sm) 11.55999755859375px var(--padding-base)
      var(--padding-xs);
    justify-content: center;
    font-size: var(--font-size-mini);
  }
  .divcss17fh4sh,
  .nav {
    justify-content: flex-start;
  }
  .nav {
    width: 999.91px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    padding: var(--padding-0) 0.009975433349609375px var(--padding-0)
      var(--padding-0);
    box-sizing: border-box;
  }
  .divcss17fh4sh {
    flex: 1;
  }
  .vectorIcon {
    position: relative;
    width: 13.85px;
    height: 7.84px;
  }
  .button,
  .divcssYfr560 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button {
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 5.080078125px 4.1484375px 5.080078125px var(--padding-0);
    box-sizing: border-box;
  }
  .divcssYfr560 {
    padding: var(--padding-7xs) 6.3000030517578125px var(--padding-7xs)
      167.6999969482422px;
  }
  .divcss1pnwvys,
  .divlayoutNavigationSecondar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }
  .divcss1pnwvys {
    width: 1256px;
    overflow: hidden;
    flex-shrink: 0;
    padding: var(--padding-0) 4.0899658203125px var(--padding-0)
      var(--padding-36xl);
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
  }
  .divlayoutNavigationSecondar {
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-whitesmoke-300);
    width: 1920px;
    padding: var(--padding-0) var(--padding-313xl) var(--padding-12xs);
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray-200);
    font-family: var(--font-noto-sans-kr);
  }
  